<!DOCTYPE html >
<html lang="en">
<head>
    <link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0VW2eSR50omGNYDnhzAbDs0XxcvSN1TPprVMTNDbiYZCYbOOl7+AMvyTG2x" crossorigin="anonymous">    
    <meta charstet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div align="center" id="login">
        <form @submit.prevent="loginUser">
            <h2>Log in</h2>
            <label for="login">Log in</label>
            <div>
                <input type="text" v-model="login" placeholder="Enter you login">
            </div>
            <label for="login">Password</label>
            <div>
                <input type="password" v-model="pass" placeholder="Enter you password" >
            </div><br>
            <div>
                <button onclick="" class="btn btn-outline-primary">Log in</button>
            </div><br>
        </form>
        <div>
            <button onclick="window.location.href='signup.html'" class="btn btn-outline-primary">Signup Page</button>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ELJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="app.js"></script>  

</body>
</html>





